[Unit]
Description=Unseal the Vault
After=vault.service
Wants=vault.service

[Service]
Type=oneshot
ExecStart={{ vault_dev_cluster__vault_unseal_service_script }}
RemainAfterExit=yes

[Install]
WantedBy=vault.service
