#!/bin/bash

export VAULT_ADDR=https://{{ ansible_fqdn }}:8200

typeset -A unseal_keys
unseal_keys=(
{% for k in hostvars[vault_dev_cluster__vault_primary_node]['unseal_keys'] %}
    [Unseal_key_{{ loop.index }}]={{ k }}
{% endfor %}
)

for i in "${!unseal_keys[@]}"
do
  if [[ $(vault status -format=json | jq -r .sealed) == "true" ]]
    then
      vault operator unseal ${unseal_keys[$i]} 1>&2 >/dev/null
  fi
done
