storage "{{ vault_dev_cluster__vault_storage }}" {
path    = "{{ vault_dev_cluster__vault_storage_path }}"
  node_id = "{{ ansible_hostname }}"
  retry_join {
  leader_tls_servername = "{{ vault_dev_cluster__vault_leader_tls_servername }}"
  leader_api_addr = "{{ vault_dev_cluster__vault_leader_api_addr }}"
  leader_client_cert_file = "{{ vault_dev_cluster__vault_tls_dir }}/{{ vault_dev_cluster__vault_leader_client_cert_file }}"
  leader_client_key_file  = "{{ vault_dev_cluster__vault_tls_dir }}/{{ vault_dev_cluster__vault_leader_client_key_file }}"
  leader_ca_cert_file = "{{ vault_dev_cluster__vault_tls_dir }}/{{ vault_dev_cluster__vault_leader_ca_cert_file }}"
  }
}

listener "tcp" {
 address     = "{{ vault_dev_cluster__vault_address }}"
 cluster_address = "{{vault_dev_cluster__vault_cluster_address }}"
 tls_disable = 0
 tls_cert_file = "{{ vault_dev_cluster__vault_tls_dir }}/{{ vault_dev_cluster__vault_leader_client_cert_file }}"
 tls_key_file  = "{{ vault_dev_cluster__vault_tls_dir }}/{{ vault_dev_cluster__vault_leader_client_key_file }}"
 tls_client_ca_file = "{{ vault_dev_cluster__vault_tls_dir }}/{{ vault_dev_cluster__vault_leader_ca_cert_file }}"
}

disable_mlock = true
disable_cache = true
ui = true
log_level = "{{ vault_dev_cluster__vault_log_level }}"
cluster_name = "{{ vault_dev_cluster__vault_cluster_name }}"

# HA parameters
cluster_addr = "https://{{ ansible_fqdn }}:8201"
api_addr = "{{ vault_dev_cluster__vault_leader_api_addr }}"
